@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

body {
    font-family: 'Cabin';
    background-color: #5d6773;
}

#tentacles {
    width: 50px;
}

.header {
    display: flex;
    background-color: #2e3339;
    padding: 1%;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
    color: white;
}

.stats-container {
    align-items: center;
    display: flex;
}



.stats-card {
    background-color: #a8b0bc;
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
}

.stats-card:hover {
    cursor: pointer;
    box-shadow: 0 0 20px lightblue;
}

#num-contributions, #total-raised, #num-games {
    font-size: 50px;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    background-color: #FFFFFF;
    padding: 1%;
    margin: 1%;
    width: 250px;
    text-align: center;
    border-radius: 7px;
}

.game-text {
    color: black;
    text-decoration: none;
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 20px lightblue;
}

.game-text:hover {
   text-decoration: underline;
   color:#2e3339;
}

#button-container {
    text-align: center;
}

button {
    font-family: 'Cabin';
    border: none;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;
}

button:hover {
    cursor: pointer;
    box-shadow: 0 0 10px lightblue;
}

.general-text {
    padding-left: 1%;
}

.general-text input[type=text] {
    margin-left: 8px;
    padding: 6px;
    border: none; 
    font-size: 17px;
    border-radius: 6px;
}

.nav-container {
    float:right;
    z-index: 99;
    border-radius: .5em;
    position:sticky;
    left: 60em;
    top: 1.2em;
    background-color: #2e3339;
    padding: 1em;
    max-width: 90%;
    margin-top: -7em;
    margin-right: 6%;
}

.navbar a {
    font-size: 1.9vw;
    font-weight: bold;
    margin-left: -5px;
    display: inline;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 14px 8px;
}

.navbar a:hover {
    text-decoration: underline;
}